body{
    background:url(IMG/BG.JPG);
}
.topimg{
    margin:2% 0 0 18%;
}
.imgcontainer{
    margin:4% auto;
    width:90%;
    height:35vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image{
    margin:0 .3% 0 .3%;
    height:95%;
    width:25%;
    border:7px ridge #3c63b5;
    border-radius:7px;
    background-size:cover;
    cursor:pointer;
    transition:.15s;
}